<md-dialog flex="60">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{ devices()[deviceUUID].d.myName }}</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content layout-padding>
    <h3>d</h3>
    <div ng-repeat="(key, value) in devices()[deviceUUID].d" layout="row">

      <div flex="40">
        {{ key }}
      </div>
      <div flex="60">
        {{ value }}
      </div>

    </div>

    <h3>info</h3>
    <div ng-repeat="(key, value) in devices()[deviceUUID].info" layout="row">

      <div flex="40">
        {{ key }}
      </div>
      <div flex="60">
        {{ value }}
      </div>

    </div>

  </md-dialog-content>
</md-dialog>
