<md-dialog flex="60">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2> Hello Gear </h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <md-dialog-content md-dynamic-height>
    <form name="newConfig" ng-submit="save(config)">
        <md-input-container>
        <label>Host</label>
        <input ng-model="config.host" required>
      </md-input-container>

      <md-input-container>
        <label>Port</label>
        <input ng-model="config.port" required>
      </md-input-container>

      <md-input-container>
        <label>clientId</label>
        <input ng-model="config.clientId" required type="clientId">
      </md-input-container>

      <md-input-container ng-show="data.cb_auth">
        <label>Username</label>
        <input ng-model="config.username">
      </md-input-container>

      <md-input-container ng-show="data.cb_auth">
        <label>Password</label>
        <input ng-model="config.password" type="password">
      </md-input-container>

      <md-checkbox ng-init="data.ssl=false" ng-model="data.ssl" aria-label="SSL" class="md-warn md-align-top-left">

      <md-checkbox ng-init="data.cb_auth=false" ng-model="data.cb_auth" aria-label="Checkbox 2" class="md-warn md-align-top-left">

      <!-- {{ data.cb_auth }} -->
      username & password
      </md-checkbox>

      <md-input-container>
        <md-button class="md-raised md-primary">Save</md-button>
      </md-input-container>
    </form>
  </md-dialog-content>
</md-dialog>