<section>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" layout-align="start center">
    <md-toolbar class="md-theme-light" layout="row" layout-align="center center">
      Config
    </md-toolbar>
    <md-content layout-padding class="autoScroll">
      <form ng-submit="closeAndSaveNewConfig(config)">
        <md-input-container>
          <label>Host</label>
          <input ng-model="config.host" required>
        </md-input-container>

        <md-input-container>
          <label>Port</label>
          <input ng-model="config.port" required>
        </md-input-container>

        <md-input-container ng-show="data.cb_auth">
          <label>Username</label>
          <input ng-model="config.username">
        </md-input-container>

        <md-input-container ng-show="data.cb_auth">
          <label>Password</label>
          <input ng-model="config.password" type="password">
        </md-input-container>

        <md-input-container ng-show="data.cb_clientId">
          <label>clientId</label>
          <input ng-model="config.clientId" type="clientId" required>
        </md-input-container>

        <md-checkbox ng-init="data.ssl=false" ng-model="data.ssl" aria-label="SSL" class="md-warn md-align-top-left">
          SSL
          </md-checkbox>
        <md-checkbox ng-init="data.cb_auth=false" ng-model="data.cb_auth" aria-label="Checkbox 2" class="md-warn md-align-top-left">
          <!-- {{ data.cb_auth }} -->
          username & password
          </md-checkbox>

          <md-checkbox ng-model="data.cb_clientId" aria-label="Checkbox 2" class="md-warn md-align-top-left">
            <!-- {{ data.cb_clientId }} -->
            clientId
          </md-checkbox>

          <md-input-container>
            <md-button class="md-raised">Save</md-button>
          </md-input-container>
        </form>
        <md-input-container>
          <md-button class="md-raised md-warn" ng-click="closeNav()">Cancel</md-button>
        </md-input-container>
    </md-content>

  </md-sidenav>
</section>