<section>
  <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" layout-align="start center">
    <md-toolbar class="md-theme-light" layout="row" layout-align="center center">
      Config
    </md-toolbar>
    <md-content layout-padding class="autoScroll">
              <form ng-submit="closeAndSaveNewConfig(config)">
<!--                 <md-input-container>
                  <label>myName - DEVICE_NAME</label>
                  <input ng-model="config.myName" required>
                </md-input-container>
 -->
                <md-input-container>
                  <label>Host</label>
                  <input ng-model="config.host" required>
                </md-input-container>

                <md-input-container>
                  <label>Port</label>
                  <input ng-model="config.port" required>
                </md-input-container>

                <md-input-container ng-show="checkbox.userPass">
                  <label>Username</label>
                  <input ng-model="config.username">
                </md-input-container>

                <md-input-container ng-show="checkbox.userPass">
                  <label>Password</label>
                  <input ng-model="config.password" type="password">
                </md-input-container>

                <md-input-container>
                  <label>clientId</label>
                  <input ng-model="config.clientId" required>
                </md-input-container>

                <md-input-container>
                  <label>subscribe to</label>
                  <input ng-model="config.topic_sub" required>
                </md-input-container>

<!--                 <md-checkbox ng-change ng-model="checkbox.clientId" aria-label="Checkbox 2" class="md-warn md-align-top-left">
                  autogen clientId
                </md-checkbox>
 -->

                <md-checkbox ng-model="checkbox.userPass" aria-label="Checkbox 2" class="md-warn md-align-top-left">
                  <!-- {{ data.cb_auth }} -->
                  username & password
                </md-checkbox>


                <md-input-container>
                  <md-button ng-click="main.generate()" class="md-raised">Save</md-button>
                </md-input-container>
              </form>    
    </md-content>

  </md-sidenav>
</section>